body  {
		background-image: url("img/bgd1.jpg");
		background-color:black;
		background-size: 100%;
		color: white;
	}

p {
    font: italic bold 12px/30px Georgia, serif;
	text-indent:50px;
}
	
h2 {
	font-weight:bold;
	text-decoration: underline;
	}
	
h3 {
	font-weight:bold;
	text-decoration: underline;
	}
	
iframe {
	margin-top: 10px;
	margin: 0px auto;
	}
.tab {
	color:white;
	}
.wrapper {
		margin:0px auto;
		}
.aboutmeheader {
		margin: 0px auto;
		}
		
.aboutmeparagraph {
		text-align: left;
		}
		
.about-wrapper  {
		border: thick double black;
		border-radius: 25px;
		background-color: #8F0000;
		margin: 0px auto;
		margin-top:150px;
		width: 600px;
		height: auto;
		font-size: 100%;

}

.aboutmeparagraph {
		margin: 10px;
		}

	

	
	/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: lightgray;
}

/* selected link */
a:active {
    color: lightgray;
}

a#white:link {color: white;}
a#white:active {color: white;}
a#white:visited {color: white;}
a#white:hover {color: gray;}

